# Set to false to allow ripe planters to turn wilted
disableWeeds=true
# Additional produce from harvesting planters
extraHarvest=3
# Allow digging up tree stumps for use in recipes and as decorations
allowStumpDigging=true
# Allow growing magic mushrooms, set to false to disable (requires stump digging to work)
magicMushrooms=true
# For magic planters this is the chance it will become wilted if not tended (on each growth tick)
magicUntendedDeathChance=0.5
# How much favor is regenerated per point of QL when eating a magic mushroom (set to 0 to disable)
magicMushroomFavorPerQL=1
# How much karma is regenerated per point of QL when eating a magic mushroom (set to 0 to disable)
magicMushroomKarmaPerQL=0.5
